html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #333844;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    background-color: #23252c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header-logo {
    width: 16%;
}

.header-logo-img {
    height: 80%;
}

.controls {
    display: inline-block;
    position: relative;
    color: #fff;
}

.controls:not(:last-child)>* {
    margin-right: 30px;
}

.controls button {
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #23252c;
    transition: 0.3s ease-out;
}

.controls button:hover {
    background-color: #333844;
}

.controls label {
    position: absolute;
    top: 0%;
    left: 0;
    background-color: #23252c;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 3px 5px;
    transform: translateY(-60%);
}

.controls-select {
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 20px;
    border: 1px solid #fff;
    background-color: transparent;
}

.controls-select option {
    background-color: #23252c;
    border: 1px solid #fff;
}

.controls-select:focus {
    outline: none;
    border-radius: 0;
    background-color: #333844;
}

.controls-select:focus option {
    background-color: #333844;
}

.main {
    padding: 100px;
    flex: 1 1 auto;
}

.main-card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.footer {
    height: 100px;
    background-color: #23252c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.footer-logo {
    width: 100%;
}

.footer-logo-img {
    height: 100%;
}

.footer a {
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.footer p {
    margin: 0;
    text-align: center;
    color: #fff;
}

.footer:hover a {
    transform: scale(1.05);
}

.footer:hover p {
    text-decoration: underline;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 100% 100%;
    border: 7px solid #0662a3;
    border-right: 7px solid transparent;
    animation: rotate 2s linear infinite;
    margin: auto;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotateZ(359deg);
    }
}

.card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
    width: clamp(300px, 385px, 18%);
    height: clamp(450px, 500px, 18%);
    min-width: 300px;
    max-width: 385px;
    min-height: 450px;
    max-height: 535px;
    position: relative;
    border-radius: 5% / 3.5%;
    touch-action: none;
    z-index: 10;
    overflow: hidden;
    box-shadow: -5px -5px 5px -5px #00e7ff, 5px 5px 5px -5px #ff00e7, -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    background-color: #040712;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url("../img/Chainuk.jpg");
}

.card:hover {
    box-shadow: -20px -20px 30px -25px #00e7ff, 20px 20px 30px -25px #ff00e7, -7px -7px 10px -5px #00e7ff, 7px 7px 10px -5px #ff00e7, 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
}

.card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(115deg, transparent 0%, #00e7ff 25%, transparent 47%, transparent 53%, #ff00e7 75%, transparent 100%);
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
}

.card:after {
    opacity: 1;
    background-image: url("../img/sparkles.gif"), url("../img/holo.webp"), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.75;
}

.card.active:after,
.card:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
}

.card.active,
.card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
    animation: none;
    background-image: linear-gradient(110deg, transparent 25%, #ff00e7 48%, #00e7ff 52%, transparent 75%);
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: 0.68;
    filter: brightness(0.66) contrast(1.33);
    transition: none;
    background-image: linear-gradient(115deg, transparent 20%, #ec9bb6 36%, #ccac6f 43%, #69e4a5 50%, #8ec5d6 57%, #b98cce 64%, transparent 80%);
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
    animation: none;
    transition: none;
}

.card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
}

.card.animated:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
}

.card.animated:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
}

.all:hover,
.normal:hover {
    box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.electric:hover,
.lightning:hover {
    box-shadow: 0 0 30px -5px yellow, 0 0 10px -2px yellow, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.fire:hover {
    box-shadow: 0 0 30px -5px #ff5e01, 0 0 10px -2px #ff5e01, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.ice:hover,
.water:hover {
    box-shadow: 0 0 30px -5px #00f2ff, 0 0 10px -2px #00f2ff, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.grass:hover {
    box-shadow: 0 0 30px -5px #00ff11, 0 0 10px -2px #00ff11, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.psychic:hover,
.fighting:hover {
    box-shadow: 0 0 30px -5px #ff0044, 0 0 10px -2px #ff0044, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.poison:hover {
    box-shadow: 0 0 30px -5px #33b105, 0 0 10px -2px #33b105, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.ground:hover {
    box-shadow: 0 0 30px -5px #b15b05, 0 0 10px -2px #b15b05, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.flying:hover {
    box-shadow: 0 0 30px -5px #053bb1, 0 0 10px -2px #053bb1, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.rock:hover {
    box-shadow: 0 0 30px -5px #949f97, 0 0 10px -2px #949f97, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.ghost:hover {
    box-shadow: 0 0 30px -5px #dcdcdc, 0 0 10px -2px #dcdcdc, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.darkness:hover {
    box-shadow: 0 0 30px -5px #272626, 0 0 10px -2px #272626, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.dragon:hover {
    box-shadow: 0 0 30px -5px #2d30e4, 0 0 10px -2px #2d30e4, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.metal:hover {
    box-shadow: 0 0 30px -5px #696a7c, 0 0 10px -2px #696a7c, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.fairy:hover {
    box-shadow: 0 0 30px -5px #f469b3, 0 0 10px -2px #f469b3, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

@keyframes holoGradient {

    0%,
    100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(0.5) contrast(1);
    }

    5%,
    9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }

    13%,
    17% {
        background-position: 0% 0%;
        opacity: 0.88;
    }

    35%,
    39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.5) contrast(1);
    }

    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
    }
}

@keyframes holoCard {

    0%,
    100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }

    5%,
    8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }

    13%,
    16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }

    35%,
    38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }

    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}

@keyframes holoSparkle {

    0%,
    100% {
        opacity: 0.75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
    }

    5%,
    8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(0.8) contrast(1.2);
    }

    13%,
    16% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(0.8);
    }

    35%,
    38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
    }

    55% {
        opacity: 0.33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
    }
}